body {
    padding: 25px;
    background-color: white;
    color: black;
    max-width: max-content;
    margin: auto;
    text-align: center;
}
  
.dark-mode {
    background-color: black;
    color: white;
}

img {
    float: center;
    width:  50%;
    height: 50%;
    object-fit: cover;
}

.image-grid{
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr); 
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid > img {
    width: 100%;
    height: 100%;
}

.carimage-grid{
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr); 
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.carimage-grid > img {
    width: 100%;
    height: 100%;
}

#signupform {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: left;

}

#signupformbutton {
    margin-left and margin-right + width = 100%*/;
    width:50%;
    margin-left:25%;
    margin-right:25%;
}