{% extends 'base.html' %} 
{% block content %}
<h1>About</h1>
<p>Mybnb was born in 2022. It allows Hosts to list homes for guests to book. Every day, Hosts offer unique stays and one-of-a-kind activities that make it possible for guests to experience the world in a more authentic, connected way.</p>
<p>It also allows Hosts to list Cars for guests to book and drive in the city of thier choice.</p>
<p>Guests can take advantage of better discounts when they book both homes and cars for the same host in the same city.</p>
{% endblock %}