{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- we can put any cdns, scripts, or css here -->
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <script src="{% static 'scripts/app.js' %}" defer></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
        <span><a href="{% url 'profile' user.username %}">Hello, {{ user.username }}!</a></span>
        <span> | </span>
        <span><a href="{% url 'car_profile' user.username %}">{{ user.username }} Car listings</a></span>
        <span> | </span>
        <span><a href="{% url 'logout' %}">Logout</a></span>
        <span> | </span>
        {% else %}
        <span><a href="{% url 'login' %}">Login</a></span>
        <span> | </span>
        <span><a href="{% url 'signup' %}">SignUp</a></span>
        {% endif %}
        <a href="/admin">Admin</a>
        <span> | </span>
        <a href="/">Home</a>
        <span> | </span>
        <a href="/about">About</a>
        <span> | </span>
        <a href="/homes">Homes</a>
        <span> | </span>
        <a href="/cars">Cars</a>
        <span> | </span>
        <a href="{% url 'home_create' %}">Add a Home</a>
        <span> | </span>
        <a href="{% url 'car_create' %}">Add a Car</a>
        <span> | </span>
        <button onclick="myFunction()">Dark Mode On/Off</button>
        <script>
          function myFunction() {
             let element = document.body;
             element.classList.toggle("dark-mode");
          }
        </script>
      {% block content %}
      {% endblock %}
      {% block potato %}
      {% endblock %}
</body>
</html>

