<!-- templates/cattoy_show.html -->
{% extends 'base.html' %}
{% block content %}

<h1>Car Details</h1>

<div>
    <div>
        <span>{{ car.make }}</span>
        <p>Color: {{ car.color }}</p>
        <img src="{{car.image}}" alt="{{car.make}}">
        <p>Model: {{ car.model }}</p>
        <p>Year: {{ car.year }}</p>
        <p>Car Type: {{ car.car_type }}</p>
        {% if car.available %}
        <p>Available: Yes</p>
        {% else %}
        <p>Available: No</p>
        {% endif %}
        <p>Contact Name: {{car.car_contact_name}}</p>
        <p>Contact Email: {{car.car_contact_email}}</p>
        <p>Located in: {{car.location}}</p>
        <p>Price: {{car.car_price}}</p>
        <hr>
        <p>Owned by:</p>
        {% for home in car.home_set.all %}
            <p>{{home.location}}</p>
            <img src="{{home.image}}" alt="{{home.location}}">
            <br>
            <br>
            <a href="{% url 'home_detail' home.pk %}"><button class="btn btn-info">Check out details about this Home</button> </a>
        {% empty %}
            <p>No Home has this car</p>
        {% endfor %}
    </div>
   
    <div>
  

        
    </div>
</div>
{% endblock %}