<!-- templates/cattoy_index.html -->
{% extends 'base.html' %}
{% block content %}

<h1>Car List</h1>

{% for car in cars %}
    <div id="carlist">
        <div>
            <span>{{ car.make }}</span> 
            <p>Color: {{ car.color }}</p>
            <p>Year: {{ car.year }}</p>
            <p>Price: {{ car.car_price }}</p>
            <p>Car Location: {{ car.location }}</p>
            <a href="{% url 'car_show' car.id %}"><button class="btn btn-info">Details about this car</button> </a>
            <p>Added By: 
                <a href='/user/{{car.user.username}}/cars'>{{car.user.username}}</a>
            </p>
            <hr>
        </div>
    </div>
{% endfor %}

{% endblock %}