<!-- templates/cattoy_show.html -->
{% extends 'base.html' %}
{% block content %}

<h1>Car Details</h1>

<div>
    <div>
        <span>{{ car.make }}</span>
        <p>Color: {{ car.color }}</p>
        <img src="{{car.image}}" alt="{{car.make}}">
        <p>Model: {{ car.model }}</p>
        <p>Year: {{ car.year }}</p>
        <p>Car Type: {{ car.car_type }}</p>
        <p>Available: {{ car.available }}</p>
        <p>Owned by:</p>
        {% for home in car.home_set.all %}
            <p>{{home.location}}</p>
            <img src="{{home.image}}" alt="{{home.location}}">
        {% empty %}
            <p>No Home has this car</p>
        {% endfor %}
    </div>
    <div>
  

        
    </div>
</div>
{% endblock %}