<!-- templates/cattoy_show.html -->
{% extends 'base.html' %}
{% block content %}

<h1>Car Details</h1>

<div>
    <div>
        <span>{{ car.make }}</span>
        <p>Color: {{ car.color }}</p>
        <img src="{{car.image}}" alt="{{car.make}}">
        <p>Model: {{ car.model }}</p>
        <p>Year: {{ car.year }}</p>
        <p>Car Type: {{ car.car_type }}</p>
        {% if car.available %}
        <p>Available: Yes</p>
        {% else %}
        <p>Available: No</p>
        {% endif %}
        <p>Contact Name: {{car.car_contact_name}}</p>
        <p>Contact Email: {{car.car_contact_email}}</p>
        <p>Price: {{car.car_price}}</p>
        <div>
            <button><a href="{% url 'car_update' car.id %}">Edit Car</a></button>
            <button><a href="{% url 'car_delete' car.id %}">Delete Car</a></button>
            <br/><br/>
        </div>
        <hr>
        <p>Owned by:</p>
        {% for home in car.home_set.all %}
            <p>{{home.location}}</p>
            <img src="{{home.image}}" alt="{{home.location}}">
            <br>
            <br>
            <button><a href="{% url 'home_detail' home.pk %}">Check out more info about this home</a></button>
        {% empty %}
            <p>No Home has this car</p>
        {% endfor %}
    </div>
   
    <div>
  

        
    </div>
</div>
{% endblock %}