{% extends 'base.html' %} 

{% block content %}

<div>
  <img src="{{home.image}}" alt="{{home.location}}" />
</div>
    <h1>{{home.location}}</h1>
</div>
<div>
    <h3>Home Type: {{home.home_type}}</h3>
    <h3>Amenities: {{home.amenities}}</h3>
    <h3>Contact name: {{home.contact_name}}</h3>
    <h3>Contact email: {{home.contact_email}}</h3>
    <h3>Bedrooms: {{home.bedrooms}}</h3>
    <h3>Bathrooms: {{home.bathrooms}}</h3>
    <h3>Available: {{home.available}}</h3>
    <h3>{{home.price}}</h3>
    <a href="{% url 'review_create' %}">Add Home Review</a>
</div>
    <hr>
    {% for car in home.car.all %}
    <div>
    <h4>Make: {{car.make}}</h4>
    <img src="{{car.image}}" alt="{{car.make}}">
    <h4>Model: {{car.model}}</h4>
    <h4>Year: {{car.year}}</h4>
    <h4>Color: {{car.color}}</h4>
    <h4>Car Type: {{car.car_type}}</h4>
    <h4>Available: {{car.available}}</h4>
    </div>
        <a href="{% url 'car_show' car.pk %}">Check out more info about car</a>
    {% empty %}
        <div>This House has no cars</div>
    {% endfor %}

<div>
    <a href="{% url 'home_update' home.pk %}">Update</a>
    <a href="{% url 'home_delete' home.pk %}">Delete</a>
</div>

{% endblock %}