{% extends 'base.html' %} 

{% block content %}

    <div>
    <img src="{{home.image}}" alt="{{home.location}}" />
    <br/><br/>
    </div>
    <div id="home-detail-box">
        <br/>
        <h5>{{home.location}}</h5>
        <h5>Home Type: {{home.home_type}}</h5>
        <h5>Amenities: {{home.amenities}}</h5>
        <h5>Contact name: {{home.contact_name}}</h5>
        <h5>Contact email: {{home.contact_email}}</h5>
        <h5>Bedrooms: {{home.bedrooms}}</h5>
        <h5>Bathrooms: {{home.bathrooms}}</h5>
        {% if home.available %}
        <h5>Available: Yes</h5>
        {% else %}
        <h5>Available: No</h5>
        {% endif %}
        <h5>{{home.price}}</h5>
    </div>
    <br/><br/>
        <div class="card" style="width: 18rem; margin: auto">
            <div class="card-header" style="color: black; font-size: 26px;">
            Reviews
            </div>
            <div style="color: black; font-size: 15px;">
            <br/>
            {% if not home.reviews.all %}
                No reviews Yet... <a href="{% url 'add_review' home.pk %}"><button class="btn btn-info">Add Reviews</button> </a>
                {% else %}
                <a href="{% url 'add_review' home.pk %}"><button class="btn btn-info">Add Reviews</button> </a>
                <br/><br/>
                {% for review in home.reviews.all %}
                <ul class="list-group list-group-flush">
                    <ul class="list-group list-group-flush">Reviews: {{ review.review_content }}</ul>
                    <ul class="list-group list-group-flush">Ratings: {{ review.rating }}</ul>
                    <hr>
                {% endfor %}
            {% endif %}
            </div>
            </div>
    <hr>
    {% for car in home.car.all %}
    <div>
    <img src="{{car.image}}" alt="{{car.make}}">
    <br/><br/>
    <h4>Make: {{car.make}}</h4>
    <h4>Model: {{car.model}}</h4>
    <h4>Year: {{car.year}}</h4>
    <h4>Color: {{car.color}}</h4>
    <h4>Car Type: {{car.car_type}}</h4>
    {% if car.available %}
    <h3>Car Available: Yes</h3>
    {% else %}
    <h3>Car Available: No</h3>
    {% endif %}
    
    </div>
        <a href="{% url 'car_show' car.pk %}"><button class="btn btn-info">Check out details about car</button> </a>
    {% empty %}
        <div>This House has no cars</div>
    {% endfor %}



{% endblock %}