{% extends 'base.html' %}

{% block content %}
    <center>
        {% if searched %}
        <h1>You Searched For {{ searched }}
        </h1>
        <p>Click on the location to get details about this place</p>
        <br/>
        {% for home in homes %}
        <p><a href="{% url 'home_detail' home.pk %}">Located in: {{ home.location }}</a></p>
        <p>Bedrooms: {{ home.bedrooms }}</p>
        <p>Bedrooms: {{ home.bathrooms }}</p>
        <br/>
        {% endfor %}
        {% else %}
            <h1>Hey! you forgot to search for a home for your next stay</h1>
        {% endif %}



    </center>

{% endblock %}